body {
    font-family: 'Roboto', 'Times New Roman';
}

.Section1, .Footer {
    background-color: #1F2937;
    padding: 20px 80px;
}

.Logo {
    font-size: 24px;
    color: #F9FAF8;
}

.text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

ul, .Description {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    border-style: solid;
    padding: 16px;
    width: 100px;
    height: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

.Section2, .Section4 {
    background-color: white;
    padding: 80px;
}

.Section3 {
    background-color: #E5E7EB;
    padding: 80px;
}
/*Above is setting colors and fonts, below is structuring the heading*/

.Header {
    display: flex;
    height: 100px;
    align-items: baseline;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
    margin-left: 50px;
}
/* Completing the "This website is awesome" section*/

.Intro {
    display: flex;
    align-items: center;
    flex:1;
}

.Intro 
{
    margin-bottom: 40px;
}

/* Completing Section 2 Some Random Information*/

h2 {
    text-align: center;
}

.PicSection {
    display: flex;
    margin: 8px;
    gap: 18px;
}

/* Completing Section 3 Quotes*/
.Quote {
    font-size: 36px;
    font-style: light italic ;
    color: #1F2937;
}
.Attribution {
    text-align: right;
    font-weight: bold;
}

/* Completing Section 4 Call to Action*/